.container {
    font-size: 50px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #AEAEAE;
    height: 100vh;
}

.container .counter .btnCounter{
    display: flex;
    justify-content: center;
    margin: auto;
}

.container .counter .btnCounter button{
    margin: 0 4px;
    padding: 15px 35px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.container .counter .btnCounter .add{
    background-color: #0074B7;
}

.container .counter .btnCounter .sub{
    background-color: #DC143C;
}